<div class="row">
  <% @lugares.each do |lugar|  %>
<!--<%#= link_to lugar_path(lugar.id) do %> Tentativa de fazer a div inteira clicavel.-->
    <div class="col-md-12 lugarNaLista">
      <% if lugar.pictures? %>
        <div class="col-md-4">
          <%= link_to(image_tag(lugar.pictures[0].url, width: 400, height: 260), lugar_path(lugar.id)) %>
        </div>
      <% end %>

      <div class="col-md-8 nomeLugar">
        <%= lugar.nome %>
      </div>
      <div class="col-md-8 enderecoLugar">
        <%= " #{lugar.endereco}, #{lugar.cidade}, #{lugar.estado}, #{lugar.tipo}" %>
      </div>

    </div>
  <%# end %>
  <% end %>
</div>



