<% @lugares.each do |lugar|  %>
  <ol>
    <li>
      <%= "#{lugar.nome}, #{lugar.endereco}, #{lugar.cidade}, #{lugar.estado}, #{lugar.tipo}" %>
      <%= image_tag lugar.picture.url if lugar.picture? %>
      <%= link_to "Editar", edit_lugar_path(lugar.id) %>
    </li>
  </ol>
<% end %>
