<div style="overflow: auto">
  <h1><%= @lugar.nome %></h1>
  <p><%= @lugar.descricao %></p>
  <div style="float:left">
    <%= carousel_for(@lugar.pictures) %>
  </div>
  <div style="float:right">
    <%= render 'map', endereco: @lugar.endereco %>
  </div>
</div>

