<footer class="footer">
  <small>
    Criado por Augusto Pamplona, Lucas Santos de Oliveira,
    Pablo Vicente, Renan Jochem e Rolf Zambon
  </small>
  <nav>
    <ul>
      <li>2018</li><br>
      <li>ConnectPlaces</li>
    </ul>
  </nav>
</footer>