<h1>ConnectPlaces</h1>
<div class="nospace">
  <%= image_tag("Praia-Jurere-Florianópolis-por-le-costume.jpg", size: "600x480") %>
  <%= image_tag("ctnr-bar.jpg", size: "600x480") %>
  <%= image_tag("Mirante-da-Lagoa-da-Conceição.jpg") %>
</div>
<p>Encontre Lugares:</p>
