<h1>ConnectPlaces</h1>

<div class="col-md-4 col-md-offset-4">
  <%= form_tag(lugares_path, method: :get) do %>
    <%= text_field_tag :term, params[:term], class: "searchTerm", placeholder: "Que lugar você procura?" %>
    <%= button_tag 'Search', class: "searchButton" do %>
      <i class="fa fa-search" aria-hidden="true"></i>
    <% end %>

  <% end %>
</div>

<div class="center">
  <%#= image_tag("ctnr-bar.jpg", size: "600x480") %>
  <%= image_tag("Mirante-da-Lagoa-da-Conceição.jpg") %>
</div>

